.grid {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height: 420px;
  width: 490px;
}

.grid div {
  height: 70px;
  width: 70px;
}

.player-one { /* for the colors of the player*/
  background-color: hotpink;
  border-radius: 35px;
}

.player-two {
  background-color: cadetblue;
  border-radius: 35px;
}

.wins {
  border-inline-color: black;
  border-radius: 15px;
}

